#contentJoke{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 88.6px);
}

#contentJoke h1{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 25px;
}

#contentJoke p{
    color: #f1f1f1;
    font-size: 1.1rem;
    max-width: 560px;
    margin-bottom: 35px;
}

#nextJoke{
    background: #f7c84a; /* amarillo */
    color: #000;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 1.1rem;
    border: 3px solid #000;
    cursor: pointer;
}

#tiempo {
    padding: 23px;
    font-size: 1.7rem;
}

article{
    margin-bottom: 22px;
}

article button{
    font-size: 3rem;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

article button:hover{
    transform: scale(1.15);
}

.shape-1{
    background-image: url("../assets/shapes/shape-1.svg");
    background-repeat: no-repeat;
    background-size: 60% auto; /* o contain */
    background-position: center;
    width: 100%;
    min-height: 800px;
}

.shape-2{
    background-image: url("../assets/shapes/shape-2.svg");
    background-repeat: no-repeat;
    background-size: 60% auto; /* o contain */
    background-position: center;
    width: 100%;
    min-height: 800px;
}

.shape-3{
    background-image: url("../assets/shapes/shape-3.svg");
    background-repeat: no-repeat;
    background-size: 60% auto; /* o contain */
    background-position: center;
    width: 100%;
    min-height: 800px;
}

.shape-4{
    background-image: url("../assets/shapes/shape-4.svg");
    background-repeat: no-repeat;
    background-size: 60% auto; /* o contain */
    background-position: center;
    width: 100%;
    min-height: 800px;
}

@media (max-width: 768px) {
    #contentJoke{
        background-image: none;
        width: 90%;
        padding: 40px 25px;
        background: #ffffff;  
        color: #333;
        border-radius: 20px;  
        box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    }

    #contentJoke h1{
        font-size: 1.8rem;
        color: #222;
    }

    #contentJoke p {
        font-size: 1rem;
        color: #444;
        margin-bottom: 25px;
    }

    #nextJoke {
        background: #5ed1c7; 
        border: none;
        box-shadow: none;
        color: #fff;
        padding: 14px 25px;
        font-size: 1rem;
    }

    #tiempo {
        display: flex;
        justify-content: center;
    }

    main{
        display: flex;
        justify-content: center;
    }
}